{% extends 'accounts/base.html' %}
{% block title %}Subsidies - AgriLeader{% endblock %}
{% block content %}
<h2>Government Schemes</h2>
<div class="row">
    {% for scheme in schemes %}
    <div class="col-md-6">
        <div class="card mb-3">
            <div class="card-body">
                <h5>{{ scheme.name }}</h5>
                <p>{{ scheme.description|truncatewords:20 }}</p>
                <p>Amount: ₹{{ scheme.subsidy_amount }}</p>
                <a href="#" class="btn btn-primary">Apply</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}